*{
    margin: 0%;
    padding: 0%;
}
body{#EEE;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

    
}
.container{
    max-width:1000px;
    background-color:#566d7e;
   margin: 0 auto;
   padding: 20px;
    
}


.proimg{ width: 100px;
    height:120px ;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}

.biodata{float: left;
    padding-top: 30px;}
    

h1,h2,h3,h4,h5,h6,h7 { color: turquoise;
    
}


.contact{
    float: right;
    padding-top: 0% auto;
    padding: 30px;
}
.contact a{
    text-decoration: none;
    color:turquoise;
    font-weight: bolder;

}
.contact a:hover{
    text-decoration:wavy;
    color:tomato;

}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}



#personel-section{

}

.content{
    margin-bottom: 30px;

}

.left{ width: 30%;
    float: left;

}
.right{ width: 70%;
    float: right;

}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}


.edu-template-left{
    width:50%;
    float: left;

}

.edu-template-right{
     width: 50%;
     float: right;

}
p{
    color: turquoise;
    font-style: italic;
}


.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
    
}
.bottom-container a{
    color: azure;
    text-decoration: none;
    margin: 20px;

}